<h1><%= @category.name %></h1>

<strong>Type:</strong>
<%= @category.type %>

<h2>Subcategories</h2>
<ul>
    <%= for sc <- @category.subcategories do %>
      <li>
        <%= link(sc.name, to: Routes.subcategory_path(@conn, :edit, sc.id)) %>
      </li>
    <% end %>
  </ul>

<span><%= link "Edit", to: Routes.category_path(@conn, :edit, @category) %></span>
<span><%= link "Back", to: Routes.category_path(@conn, :index) %></span>
