<h1>Show Subcategory</h1>

<ul>

  <li>
    <strong>Category:</strong>
    <%= @subcategory.category.name %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @subcategory.name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.subcategory_path(@conn, :edit, @subcategory) %></span>
<span><%= link "Back", to: Routes.subcategory_path(@conn, :index) %></span>
